<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akbmawa.bobaceria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bubble_tea"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bubble_tea"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".separator"></activity>
        <activity android:name=".daftar_harga" />
        <activity android:name=".BerhasilPesan" />
        <activity android:name=".Pesan" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>